.btn {
  display: inline-flex;
  padding: 15px 25px;

  color: $color-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--white {
    background-color: transparent;
    color: $color-blue;
    font-weight: 700;
    border: 1px solid $color-blue;
    border-radius: 3px;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
