.feedback {
  color: $color-default-white;
  background: linear-gradient(
    to right bottom,
    rgba($color-dark, 0.5) 30%,
    rgba($color-dark, 0) 30%),
    $color-blue;
}

.feedback__container {
  max-width: 585px;
  padding: 170px 0 250px 625px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;

  &::before {
    content: "";
    width: 510px;
    height: 285px;
    position: absolute;
    left: 0;
    top: 246px;
    background: url("../img/svg/airplane.svg");
  }
}

.feedback__title {
  font-family: $font-Roboto;
  font-size: 36px;
  line-height: 50.63px;
  margin: 0 0 15px;
}

.feedback__text {
  font-size: 16px;
  line-height: 21.5px;
  margin: 0 0 25px;
}

