.feedback {
  color: $color-default-white;
  background: linear-gradient(
    to right bottom,
    rgba($color-dark, 0.5) 30%,
    rgba($color-dark, 0) 30%),
    $color-blue;
}

.feedback__container {
  max-width: 585px;
  padding: 170px 0 250px 625px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;

  &::before {
    content: "";
    width: 510px;
    height: 285px;
    position: absolute;
    left: 0;
    top: 246px;
    background: url("../img/svg/airplane.svg");
  }
}

.feedback__title {
  font-family: $font-Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 50.63px;
  margin: 0 0 15px;
}

.feedback__text {
  font-size: 16px;
  line-height: 21.5px;
  margin: 0 0 25px;
}

@include vp-1023 {
  .feedback {
    background: $color-blue;
  }

  .feedback__container {
    padding: 50px 50px 130px;
    max-width: none;

    &::before {
      content: none;
    }
  }
}

@include vp-767 {
  .feedback__container {
    padding: 50px 25px 90px;
  }

  .feedback__title {
    font-size: 30px;
    line-height: 42.19px;
    margin-bottom: 20px;
  }

  .feedback__text {
    font-size: 14px;
    line-height: 18.82px;
    margin-bottom: 40px;
  }
}
