.footer {
  background-color: $color-bg;
  color: rgba($color-default-white, 0.7);
}

.footer__container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 50px 0 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
}

.footer__title {
  margin: 0 0 20px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.75px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-default-white;
}

.footer__contacts {
  max-width: 345px;
}

.footer__address {
  font-style: normal;
  margin-bottom: 10px;
}

.footer__phones {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__phone {
  margin-bottom: 10px;
}

.footer__phone-link {
  color: rgba($color-default-white, 0.7);
}

.footer__accordeon {
  display: none;
}

@include vp-1023 {
  .footer__container {
    padding: 50px 45px 65px 50px;
  }

  .footer__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
}

@include vp-767 {
  .footer__container {
    padding: 35px 0;
    flex-direction: column;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color-border, 0.7);
    }
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__socials {
    margin-bottom: 35px;
  }

  .footer__nav {
    padding: 20px 25px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color-border, 0.7);
    }
  }

  .footer__nav-list {
    display: none;
  }

  .footer__title {
    margin-bottom: 0;
  }

  .footer__accordeon {
    display: block;
    position: absolute;
    right: 26px;
    top: 20px;
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;


    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-border;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  .footer__contacts {
    padding: 20px 25px;
    max-width: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color-border, 0.7);
    }

    .footer__accordeon::before {
      content: none;
    }
  }

  .footer__address {
    margin-top: 20px;
  }
}
