.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

.form__label {
  display: flex;
  align-items: center;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba($color-dark, 0.15);
  padding: 15px;
  color: $color-default-white;

  &::placeholder {
    color: $color-default-white;
  }
}

.form__input--textarea {
  grid-column: 1 / 3;
  min-height: 155px;
  margin-bottom: 15px;
}


@include vp-1023 {
  .form__button {
    width: 265px;
  }
}

@include vp-767 {
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form__input--textarea {
    min-height: 180px;
    margin-bottom: 10px;
  }

  .form__button {
    margin-bottom: 5px;
  }
}
