.promo {
  color: $color-white;
  background:
    linear-gradient(
    rgba($color-bg-promo, 0.7),
    rgba($color-bg-promo, 0)),
    url("../img/promo-bg.jpg") no-repeat;
  background-size: cover;
  padding: 185px 475px 280px;
}

.promo__title {
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  margin: 0 0 40px;
}

.promo__description {
  font-size: 22px;
  line-height: 34px;
  margin: 0 0 40px;
  width: 685px;
}

.promo__button {
  background-color: $color-blue;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  font-family: $font-Roboto;
}

.promo__button-text--mobile {
  display: none;
}

@include vp-1023 {
  .promo {
    padding: 80px 50px 205px;
  }

  .promo__title {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 20px;
  }

  .promo__description {
    margin-bottom: 50px;
    width: auto;
  }

  .promo__button {
    margin-left: 45px;
  }
}

@include vp-767 {
  .promo {
    padding: 80px 30px 190px;
  }

  .promo__title {
    font-size: 36px;
    line-height: 42px;
  }

  .promo__description {
    font-size: 14px;
    line-height: 21.7px;
  }

  .promo__button {
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .promo__button-text--desktop {
    display: none;
  }

  .promo__button-text--mobile {
    display: inline;
  }
}
