.services {
  font-family: $font-Roboto;
  color: $color-white;
  background-color: $color-dark;
  padding: 70px 50px 140px;
}

.services__container {
  max-width: 1220px;
  margin: 0 auto;
}

.services__title {
  margin: 0 0 50px;
  font-size: 36px;
  line-height: 50.63px;
  font-weight: 400;
}

.services__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.services__item {
  background: url("../img/promo-bg.jpg");
}

.services__link {
  position: relative;
  display: block;
  padding: 50px 80px 0 40px;
  height: 650px;
  width: 350px;
}

.services__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $color-white;
}

.services__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: $color-blue;
}

.services__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@include vp-1023 {
  .services {
    padding: 60px 50px 75px;
  }

  .services__list {
    flex-direction: column;
    gap: 30px;
  }

  .services__link {
    width: 100%;
    height: 250px;
    padding: 40px 45px;
  }

  .services__subtitle {
    width: 230px;
  }
}

@include vp-767 {
  .services {
    padding: 50px 25px 86px;
  }

  .services__title {
    font-size: 28px;
    line-height: 39.38px;
    margin-bottom: 40px;
  }

  .services__link {
    padding: 30px;
  }

  .services__subtitle {
    width: 150px;
  }

  .services__button {
    width: 40px;
    height: 40px;
  }
}
