.services {
  font-family: $font-Roboto;
  color: $color-white;
  background-color: $color-dark;
  padding: 70px 50px 140px;
}

.services__container {
  max-width: 1220px;
  margin: 0 auto;
}

.services__title {
  margin: 0 0 50px;
  font-size: 36px;
  line-height: 50.63px;
  font-weight: 400;

  &--mobile {
    display: none;
  }
}

.services__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  width: 28.6%;
  background: linear-gradient(
    to top,
    rgba($color-dark, 0.5),
    rgba($color-dark, 0.5)),
    url("../img/services-bg.png");
  background-size: 400%;
  background-position-y: -200px;

  &--production {
    background-position-x: -150px;
  }

  &--mounting {
    background-position-x: -520px;
  }

  &--lighting {
    background-position-x: -890px;
  }

  @include retina {
    background-image: linear-gradient(
      to top,
      rgba($color-dark, 0.5),
      rgba($color-dark, 0.5)),
      url("../img/services-bg@2x.png") no-repeat;
  }
}

.services__link {
  position: relative;
  display: block;
  padding: 50px 80px 0 40px;
  height: 650px;

  @include hover-focus {
    opacity: 0.8;
  }
}

.services__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $color-white;
}

.services__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: $color-blue;
}

.services__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@include vp-1023 {
  .services {
    padding: 60px 50px 75px;
  }

  .services__list {
    flex-direction: column;
    gap: 30px;
  }

  .services__item {
    width: 100%;
    background-size: 200%;

    &--production {
      background-position-x: -142px;
      background-position-y: -517px;
    }

    &--mounting {
      background-position-x: -589px;
      background-position-y: -356px;
    }

    &--lighting {
      background-position-x: -135px;
      background-position-y: -392px;
    }
  }

  .services__title {
    margin-bottom: 35px;
  }

  .services__link {
    width: 100%;
    height: 250px;
    padding: 40px 45px;
  }

  .services__subtitle {
    width: 230px;
  }
}

@include vp-767 {
  .services {
    padding: 46px 25px 86px;
  }

  .services__item {
    background-size: 550%;
    background-position-x: -400px;

    &--production {
      background-position-y: -1382px;
    }

    &--mounting {
      background-position-y: -1656px;
    }

    &--lighting {
      background-position-x: -897px;
      background-position-y: -1466px;
    }
  }

  .services__title {
    display: none;

    &--mobile {
      display: block;
      font-size: 28px;
      line-height: 39.38px;
      margin-bottom: 27px;
    }
  }

  .services__link {
    padding: 25px 30px 30px;
  }

  .services__subtitle {
    font-size: 18px;
    line-height: 30px;
    width: 150px;
  }

  .services__button {
    width: 40px;
    height: 40px;
    padding: 0;
  }
}
