.social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.social-list__icon {
  fill: $color-white-accent;
}
